<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pokemon Tabletop United Tool</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="icons/favicon.ico">
</head>

<body>
    <div class="container">
        <header class="sidebar nav-container">
            <div>
                <a href="/home"><h3 class="home-button">Home</h3></a>
                <ul class="nav">
                    <li>
                        <a href="/resources">Resources</a>
                    </li>
                    <li>
                        <a href="/attackCalc">Attack Calculator</a>
                    </li>
                    <li>
                        <a href="/characterSheets">Character Sheets</a>
                    </li>
                    <li>
                        <a href="/pokemonSheets">Pokemon Sheets</a>
                    </li>
                    <li>
                        <a href="/typeChart">Type Chart</a>
                    </li>
                </ul>
            </div>
            <a class="logout-button" role="button" href="/logout">Logout</a>
        </header>