<%- include('partials/header') %>

<main>
    <div>
        <h1>Welcome to a collection of <span class="highlight">Pokemon United</span> Tools</h1>
        <div class="card-container">
            <a href="/resources">
                <div class="shadow">
                    <div class="category-card">
                        <h3>Resources</h3>
                    </div>
                </div>
            </a>
            <a href="/attackCalc">
                <div class="shadow">
                    <div class="category-card">
                        <h3>Attack Calculator</h3>
                    </div>
                </div>
            </a>
            <a href="/characterSheets">
                <div class="shadow">
                    <div class="category-card">
                        <h3>Character Sheets</h3>
                    </div>
                </div>
            </a>
            <a href="/pokemonSheets">
                <div class="shadow">
                    <div class="category-card">
                        <h3>Pokemon Sheets</h3>
                    </div>
                </div>
            </a>
            <a href="/typeChart">
                <div class="shadow">
                    <div class="category-card type-chart">
                        <h3>Type Chart</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

  <%- include('partials/footer') %>