<%- include('partials/header') %>

<main>
    <div>
        <h1>Resources</h1>
        <h2>Rules</h2>
        <div class="card-container">
            <a target="_blank" href="https://drive.google.com/file/d/1MZM7c1DlbZK3d_rzaeXlLs11cmRPhedU/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card core-rules">
                        <h3>PTU 1.05 Core Rules</h3>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/1q_Ly8g79Xx1qLmthLJXKQuUwxgTK7fhE/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card errata">
                        <h3>PTU 1.05 Errata</h3>
                    </div>
                </div>
            </a>
        </div>
        <h2>Pokedex</h2>
        <div class="card-container">
            <a target="_blank" href="https://drive.google.com/file/d/1QfGLS0OLeNMOvlj4fhAAGHTmlfAjq2Bv/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card pokedex-1-7">
                        <h3>Gen 1-7 PokeDex</h3>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/16d_zCnsJFuSNkVhBjbvNRfywhY5JyukL/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card pokedex-8">
                        <h3>Gen 8 PokeDex</h3>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/1Wygpcvd5uv0aqFqK_SQJo54NCA5TS-xa/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card pokedex-arceus">
                        <h3>Arceus PokeDex</h3>
                    </div>
                </div>
            </a>
        </div>
        <h2>References</h2>
        <div class="card-container">
            <a target="_blank" href="https://drive.google.com/file/d/1Gy0gGr0RGkkA2dJmdabOTNB9p-WG7cWZ/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card sumo-ref">
                        <h3>Gen 7 Reference</h3>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/1bkYXg2-ejeuWjS9Nu5ZXwlAHOXtlJsAl/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card gal-ref">
                        <h3>Gen 8 Reference</h3>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/1Tyxi_3h39ZyZzLMcuQLme2ScX_i-HaMk/view?usp=sharing">
                <div class="shadow">
                    <div class="category-card arc-ref">
                        <h3>Arceus Reference</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

  <%- include('partials/footer') %>