<%- include('partials/header') %>

<main>
    <div>
        <h1>Type Chart</h1>
        <div>
            <img src="/images/PokemonTypeChart.png" alt="The Pokemon type matchup chart">
        </div>
    </div>
</main>

  <%- include('partials/footer') %>