body {
    background-color: #000;
    color: #F0EDCF;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    left: 100px;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    background-color: #0B60B0;
    color: #F0EDCF;
    width: fit-content;
    border-color: #40A2D8;
}

.login-button {
    margin-top: 10px;
    width: 50px;
}

.nav-container {
    position: fixed;
    display: relative;
    height: 100vh;
}

nav {
    position: absolute;
    margin: 0 50px;
}

nav > li:hover {
    background-color: #40A2D8;
    color: #000;
}

a {
    text-decoration: none;
    color: #F0EDCF;
    margin: 0;
}

.home-button {
    border-bottom: #40A2D8 solid 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.highlight {
    color: #40A2D8;
}

main {
    padding-left: 200px;
}

.sidebar {
    padding-left: 20px;
    padding-top: 10px;
    min-width: 150px;
    background-color: #0B60B0;
    overflow: hidden;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul > li {
    height: 30px;
    vertical-align: text-top;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3rem;
    margin-right: 30px;
}

.category-card {
    display: flex;
    background-color: #0B60B0;
    width: 200px;
    height: 200px;
    padding: 5px;
    top: 0;
    left: 0;
    border-radius: 10%;
    align-items: flex-end;
    justify-content: center;
    transition: top .2s , left .2s;
    z-index: 0;
}

.sheet-card {
    flex-direction: column;
    width: 130px;
    height: 130px;
    align-items: center;
}

.margin-2 {
    margin: 2px;
}

.category-card > h3 {
    background-color: #0b60b0c2;
    padding: 5px;
    margin: 0;
}

.calculator {
    background-image: url(../images/brokenCalc.png);
    background-size: 220px 220px;
}

.char-sheet {
    background-image: url(../images/charSheet.PNG);
    background-size: 210px;
}

.poke-sheet {
    background-image: url(../images/pokeSheet.PNG);
    background-size: 210px;
}

.type-chart {
    background-image: url(../images/PokemonTypeChart.png);
    background-size: 210px;
}

.core-rules {
    background-image: url(../images/PTUCoreRules.PNG);
    background-size: 215px 199px;
}

.errata {
    background-image: url(../images/PTUErrata.PNG);
    background-size: 210px 200px;
}

.pokedex-1-7 {
    background-image: url(../images/pokedex.png);
    background-size: 210px 300px;
}

.pokedex-8 {
    background-image: url(../images/galardex.png);
    background-size: 200px 210px;
}

.pokedex-arceus {
    background-image: url(../images/hisuidex.png);
    background-size: 210px 200px;
}

.sumo-ref {
    background-image: url(../images/SuMoRef.PNG);
    background-size: 210px 200px;
}

.gal-ref {
    background-image: url(../images/GalRef.PNG);
    background-size: 210px 220px;
}

.arc-ref {
    background-image: url(../images/arcRef.PNG);
    background-size: 210px 220px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout-button {
    background-color: #40A2D8;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    width: 50px;
    margin-bottom: 30px;
}

.shadow {
    background-color: #40A2D8;
    border-radius: 10%;
    z-index: -1;
}

.card-hover:hover {
    position: relative;
    top: -10px;
    left: -10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #F0EDCF;
    justify-content: center;
    background-color: #000;
    height: 40px;
}

footer > p {
    margin: 10px;
}

footer a {
    text-decoration: underline;
    color: #0B60B0;
}

.bold-highlight {
    font-weight: bold;
    color: #40A2D8;
}

.icon {
    height: 20px;
    width: 20px;
}

.flex-this {
    display: flex;
    justify-content: space-between;
}

.strike-info:hover ~ .strike-info-box {
    opacity: 1;
    max-height: inherit;
    padding: 0 5px;
}

.strike-info-box {
    background-color: #000;
    border: 1px solid #40A2D8;
    position: absolute;
    left: 190px;
    width: 390px;
    max-height: 0;
    margin-left: 10px;
    overflow: hidden;
    /*transition: opacity 30ms ease;*/
    opacity: 0;
}

.radio-buttons {
    margin: 5px 0 10px 0;
    width: 200px;
    color: #F0EDCF;
    border: 1px solid #40A2D8;
    border-radius: 5px;
}

.stat-box {
    padding: 5px 5px 0 5px;
    width: 250px;
    border: 1px solid #40A2D8;
    border-radius: 5px;
}

h4 {
    margin: 10px 0 5px 0;
}

.type-header {
    margin-top: 10px;
}

.radio-button-margin {
    margin: 3px;
}

.expanded {
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.calculate-button {
    margin-bottom: 5px;
}

.form-input {
    display: flex;
    margin-bottom: 10px;
    height: 20px;
}

.form-input > label {
    width: 200px;
}

.radio-buttons > .form-input > label {
    width: 170px;
}

.number-input {
    width: 45px;
}

input:disabled {
    background-color: white;
    border-radius: 1px;
    color: #000;
}

.hide {
    display: none;
}

.extra-input {
    display: flex;
    justify-content: flex-start;
    width: 170px;
}

@media (max-width: 680px) {
    .sidebar {
        width: 150px;
        transition: width .5s ease;
    }
}